.numbers {
    margin: 0 50px;
}

.number {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: lightcoral;
    padding: 15px;
    border-radius: 25px;
    margin: 10px;
}