/*exercise2_3*/

#scroll-button {
    width: 30px;
    background-color: darkblue;
    text-align: center;
    border-radius: 15px;
    position: fixed;
    right: 25px;
    bottom: 20px;
}

#scroll-button a {
    color: white;
}

#triangle-up {
    border-bottom: 2px solid white;
}



